<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">


<div>
  <mat-toolbar>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>eDHR</span>
  </mat-toolbar>
</div>


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="push" closed>
    <mat-nav-list>
      <li *ngFor="let item of mainMenu.defaultOptions">
        <a mat-list-item href="#"><mat-icon>{{ item.icon }}</mat-icon> {{item.name}}</a>
      </li>
    </mat-nav-list>
    <mat-toolbar class="mat-toolbar-sidebar">Menu</mat-toolbar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <!-- Main content goes here -->
      <h1>Home</h1>
      <p>This is the content section</p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>