<!-- <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">


<div class="side-bar">
  <section>
    <h1>Jabil</h1>
  </section>

  <div><i class="uil uil-ellipsis-h"></i></div>
  <ul class="side-bar__list list-one">
    <li *ngFor="let item of mainMenu.defaultOptions">
      <div class="list-wrapper-item">
        <i [ngClass]="['uil', item.icon]"></i>
        <span class="side-bar__list list-label">{{ item.name }}</span>
      </div>
    </li>
  </ul>

  <div class="side-bar__separator">
    <ul class="side-bar__list list-one"></ul>
    <li *ngFor="let item of mainMenu.accessLink">
        <div class="list-wrapper-item">
            <i [ngClass]="['uil',item.icon]"></i>
            <span class="side-bar__list list-label">{{item.name}}</span>
        </div>
    </li>
  </div>
</div> -->




<!-- material design -->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-toolbar>Sidebar</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon>home</mat-icon> Home</a>
      <a mat-list-item href="#"><mat-icon>info</mat-icon> About</a>
      <a mat-list-item href="#"><mat-icon>contact_mail</mat-icon> Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My Application</span>
    </mat-toolbar>
    <div class="content">
      <!-- Main content goes here -->
      <h1>Welcome to the application!</h1>
      <p>This is the content section</p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>